// 01 primitives 

// 02 Core
$primaryA : #000000;

$primaryB : #ffffff;

$accent : #266ef1;

$negative : #de1135;

$warning : #f6bc2f;

$positive : #0e8345;

//  03 Semantic

//*** Background
$backgroundPrimary : $primaryB;

$backgroundSecondary : #f3f3f3;

$backgroundTertiary : #e8e8e8;

$backgroundInversePrimary : $primaryA;

$backgroundInverseSecondary : #4b4b4b;

//*** Content
$contentPrimary : #000000;

$contentSecondary : #4b4b4b;

$contentTertiary : #5e5e5e;

$contentInversePrimary : #ffffff;

$contentInverseSecondary : #dddddd;

$contentInverseTertiary : #a6a6a6;

//*** Border
$borderOpaque : #e8e8e8;

$borderTransparent : transparentize($primaryA, 0.08);

$borderSelected : $primaryA;

$borderInverseOpaque : #4b4b4b;

$borderInverseTransparent : transparentize($primaryB, 0.2);

$borderInverseSelected : $primaryB;


// 04 Semamtic Extensions

//** Bacground
$backgroundStateDisabled : #f3f3f3;

$backgroundOverlayArt : transparentize(#000000,0.0);

$backgroundOverlayDark : transparentize(#000000, 0.5);

$DEPRECIATED_backgroundOverlayLight : transparentize(#000000,0.08);

$backgroundOverlayElevation : transparentize(#000000,0.0);

$backgroundAcent : #266ef1;

$backgroundNegative : #de1135;

$backgroundWarning : #f6bc2f;

$backgroundPositive : #0e8345;

$backgroundLightAccent : #eff4fe;

$backgroundLightNegative : #fff0ee;

$backgroundLightWarning : #fdf2dc;

$backgroundLightPositive : #eaf6ed;

$backgroundAlwaysDark : #000000;

$backgroundAlwayslight : #ffffff;

//** Content
$contentStateDisabled : #a6a6a6;

$contentOnColor : #ffffff;

$contentOnColorInverse : #000000;

$contentAccent : #266ef1;

$contentNegative : #de1135;

$contentWarning : #9f6402;

$contentPositive : #0e8345;

//** Border
$borderStateDisabled : #f3f3f3;

$borderAccent : #266ef1;

$borderNegative : #de1135;

$borderPositive : #0e8345;

$borderWarning : #9f6402;

$borderAccentLight : #cddeff;

//  05 Programs
$safety : #266ef1;

$eats : #0e8345;

//$freight : 