<template></template>

<script lang="ts" setup>
const props = defineProps<{
  /**
   * Size of button
   */
  size?: 'xsmall' | 'small' | 'medium' | 'large'
  /**
   * Type of button
   */
  type?: 'PillSecondary' | 'PillTertiary' | 'RectPrimary' | 'RectSecondary' | 'RectTertiary'
}>()
</script>

<style lang="scss" scoped></style>
