<template>
  <p class="typography--core" :class="classes">{{ text }}</p>
</template>

<script lang="ts" setup>
import { computed } from 'vue'

const props = withDefaults(
  defineProps<{
    /**
     * class of typography
     */
    class?:
      | 'display'
      | 'heading'
      | 'label'
      | 'paragraph'
      | 'mono_display'
      | 'mono_heading'
      | 'mono_label'
      | 'mono_paragraph'
    /**
     * Size of text
     */
    size?: 'xsmall' | 'small' | 'medium' | 'large' | 'xlarge' | 'xxlarge'
    /**
     * spacer
     */
    spacer?: boolean
    /**
     * Text
     */
    text?: string
  }>(),
  {
    text: 'We ignite opportunity by setting the world in motion. 0123456789'
  }
)

const classes = computed(() => {
  return {
    [`typography--${props.class}--${props.size || 'small'}`]: true,
    'typography--spacer': props.spacer
  }
})
</script>

<style lang="scss" scoped>
@import '../../infra/css/colors.scss';
.typography--core {
  font-family: 'Uber Move Text', sans-serif;
  color: $contentPrimary;
}

p[class^='typography--display'],
div[class*='typography--display'] {
  font-weight: 700;
}
p[class^='typography--heading'],
div[class*='typography--heading'] {
  font-weight: 700;
}

p[class^='typography--label'],
div[class*='typography--label'] {
  font-weight: 500;
}

p[class^='typography--paragraph'],
div[class*='typography--paragraph'] {
  font-weight: 400;
}

/** display */
.typography--display--xsmall {
  font-size: 36px;
  line-height: 44px;
}
.typography--display--small {
  font-size: 44px;
  line-height: 52px;
}
.typography--display--medium {
  font-size: 52px;
  line-height: 64px;
}
.typography--display--large {
  font-size: 96px;
  line-height: 112px;
}

/** heading */
.typography--heading--xsmall {
  font-size: 20px;
  line-height: 28px;
}
.typography--heading--small {
  font-size: 24px;
  line-height: 32px;
}
.typography--heading--medium {
  font-size: 28px;
  line-height: 36px;
}
.typography--heading--large {
  font-size: 32px;
  line-height: 40px;
}
.typography--heading--xlarge {
  font-size: 36px;
  line-height: 44px;
}
.typography--heading--xxlarge {
  font-size: 40px;
  line-height: 52px;
}

/** label */
.typography--label--xsmall {
  font-size: 12px;
  line-height: 16px;
}
.typography--label--small {
  font-size: 14px;
  line-height: 16px;
}
.typography--label--medium {
  font-size: 16px;
  line-height: 20px;
}
.typography--label--large {
  font-size: 18px;
  line-height: 24px;
}

/** paragraph */

.typography--paragraph--xsmall {
  font-size: 12px;
  line-height: 20px;
}
.typography--paragraph--small {
  font-size: 14px;
  line-height: 20px;
}
.typography--paragraph--medium {
  font-size: 16px;
  line-height: 24px;
}
.typography--paragraph--large {
  font-size: 18px;
  line-height: 28px;
}
</style>
